<footer class="bg-secondary text-light py-4" style="margin-top: 30px">
    <div class="container text-center">
        <hr class="my-3">
        <div class="d-flex justify-content-center">
            <a href="https://vk.com/karhol.syntax" class="text-light mx-3"><i class="fab fa-vk"></i></a>
            <a href="https://t.me/NikolayHryak" class="text-light mx-3"><i class="fab fa-telegram"></i></a>
        </div>
        <br>
        <p>&copy; 2025 Karhol Syntax. Все права защищены.</p>
    </div>
</footer>
